$white-color: #ffffff;
$black-color: #000000;
$primary-color: #ffe600;
$secundary-color: #3483fa;
$text-primary-color: #333333;
$text-secundary-color: #666666;
$text-tertiary-color: #999999;
$background-color: #eeeeee;

$font_1: 'Proxima Nova', -apple-system, Roboto, Arial, sans-serif, sans-serif;
$font_2: 'Pacifico', cursive;
