$white-color: #ffffff;
$black-color: #000000;
$primary-color: #FFE600;
$secundary-color: #3483FA;
$text-primary-color: #333333;
$text-secundary-color: #666666;
$text-tertiary-color: #999999;
$background-color: #EEEEEE;


$font_1: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
$font_2: 'Pacifico', cursive;

